@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Changa+One:ital@0;1&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Sekuya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



:root {
  background-color: antiquewhite;

}

body{
    background: url(../../../images/HOME/bg4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}




/*    FOR RESPONSIVENESS  */







/*     FOR MOBILE SCREENS   */

@media (min-width: 320px) and (max-width: 426px) {


  * {
    padding: 0;
    margin: 0;
  }




  body {
    display: grid;
    grid-template-columns: 20vw 70vw;
  }







  /*    START OF GO BACK SECTION */

  .goBack {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10%;
    height: 90vh;
  }

  .goBack button {
    background-color: transparent;
    height: 7%;
    width: 80%;
    font-family: Verdana;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    box-shadow: 5px 5px 10px 1px rgba(128, 128, 128, 0.377), inset 0px 0px 10px rgba(80, 77, 77, 0.178);
    border-radius: 10%;
    border: 1px solid black;
  }

  .goBack button h5 {
    color: rgb(49, 51, 51);
    font-family: 'Roboto';
    display: flex;
    font-size: 41%;
    position: relative;
    bottom: 15%;
    letter-spacing: 8%;
    justify-content: center;
  }



  /* END OF GO BACK SECTION */






  /* CONTAINER */

  .container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    position: relative;
    left: 1%;
  }

  /*   END OF CONTAINER */




  /*    ADD IMAGE */


  .imageArea {
    height: 30vh;
    width: 60vw;
    border: 3px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 240, 240, 0.363);
    margin-top: 10vh;
    box-shadow: 5px 5px 10px 1px rgba(128, 128, 128, 0.377);
  }

  .imageBox {
    border: 2px dashed rgb(0, 0, 0);
    width: 20%;
    height: 95%;
    width: 95%;
    border-radius: 10px;
    cursor: pointer;
  }


  .imageBox label {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  #picture {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
    background-image: url(../../../icons/UPLOAD.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
  }





  /*   END OF IMAGE AREA  */



  /* START OF NAME AREA */


  .name input {
    height: 100%;
    width: 90%;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.719);
    background-color: transparent;
    padding-left: 20px;
    font-family: "Changa One";
    color: rgb(0, 0, 0);
    font-size: 25px;
    box-shadow: 5px 5px 10px 1px rgba(128, 128, 128, 0.377);


  }

  .name input::placeholder {
    padding-left: 25%;
    color: rgb(0, 0, 0);
    font-size: medium;

  }



  /* END OF NAME AREA */


  /*   FOR DESCRIPTION AREA  */

  .description textarea {
    width: 70vw;
    height: 20vh;
    resize: none;
    background-color: rgba(255, 255, 255, 0.096);
    border: 1px solid black;
    border-radius: 5px;
    font-family: "Exo 2";
    font-weight: 600;
    font-size: medium;
    padding-left: 20px;
    padding-top: 5px;
    box-shadow: 5px 5px 10px 1px rgba(128, 128, 128, 0.377);
  }

  .description textarea::placeholder {
    color: rgb(26, 24, 24);
    font-size: x-large;
    font-weight: 500;
    padding-top: 40px;
    padding-left: 2vw;
    text-align: center;
  }

  /*    END OF DESCRIPTION AREA */




  /*    BUTTONS    */


  .submit {
    background-color: transparent;
    height: 100%;
    width: 130%;
    border: 1px solid black;
    border-radius: 10px;
    font-family: Verdana;
    font-weight: 500;
    cursor: pointer;
    padding: 6%;
    box-shadow: 5px 5px 10px 1px rgba(128, 128, 128, 0.377);
    position: relative;
    right: 25%;

  }

  .submit:active {
    background-color: rgba(255, 255, 255, 0.049);
    font-size: 95%;
  }

}


/* .................. */




/*    FOR TABLETS SCREEEN */



@media  (min-width:426px)and (max-width: 768px) {


  * {
    padding: 0;
    margin: 0;

  }




  body {
    display: grid;
    grid-template-columns: 20vw 70vw;
  }







  /*    START OF GO BACK SECTION */

  .goBack {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 5%;
  }

  .goBack button {
    background-color: transparent;
    height: 10%;
    width: 80%;
    font-family: Verdana;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    box-shadow: 5px 5px 10px 1px rgba(128, 128, 128, 0.377), inset 0px 0px 10px rgba(80, 77, 77, 0.178);
    border-radius: 10%;
    border: 1px solid black;
  }

  .goBack button h5 {
    color: rgb(49, 51, 51);
    font-family: 'Roboto';
    display: flex;
    font-size: 60%;
    position: relative;
    letter-spacing: 10%;
    justify-content: center;
    font-size: small;
    bottom: 10%;
  }



  /* END OF GO BACK SECTION */






  /* CONTAINER */

  .container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
    position: relative;
    

  }

  /*   END OF CONTAINER */




  /*    ADD IMAGE */


  .imageArea {
    height: 35vh;
    width: 30vw;
    border: 3px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 240, 240, 0.363);
    margin-top: 10vh;
    box-shadow: 5px 5px 10px 1px rgba(128, 128, 128, 0.377);
  }

  .imageBox {
    border: 2px dashed rgb(0, 0, 0);
    height: 95%;
    width: 95%;
    border-radius: 10px;
  }


  .imageBox label {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  #picture {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
    background-image: url(../../../icons/UPLOAD.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
  }





  /*   END OF IMAGE AREA  */



  /* START OF NAME AREA */


  .name input {
    height: 145%;
    width: 90%;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.719);
    background-color: transparent;
    padding-left: 20px;
    font-family: "Changa One";
    color: rgb(0, 0, 0);
    font-size: 25px;
    box-shadow: 5px 5px 10px 1px rgba(128, 128, 128, 0.377);


  }

  .name input::placeholder {
    padding-left: 32%;
    color: rgb(0, 0, 0);
    font-size: medium;

  }



  /* END OF NAME AREA */


  /*   FOR DESCRIPTION AREA  */

  .description textarea {
    width: 50vw;
    height: 20vh;
    resize: none;
    background-color: rgba(255, 255, 255, 0.096);
    border: 1px solid black;
    border-radius: 5px;
    font-family: "Exo 2";
    font-weight: 600;
    font-size: medium;
    padding-left: 20px;
    padding-top: 5px;
    box-shadow: 5px 5px 10px 1px rgba(128, 128, 128, 0.377);
  }

  .description textarea::placeholder {
    color: rgb(26, 24, 24);
    font-size: x-large;
    font-weight: 500;
    padding-top: 40px;
    padding-left: 2vw;
    text-align: center;
  }

  /*    END OF DESCRIPTION AREA */




  /*    BUTTONS    */


  .submit {
    background-color: transparent;
    height: 100%;
    width: 130%;
    border: 1px solid black;
    border-radius: 10px;
    font-family: Verdana;
    font-weight: 500;
    cursor: pointer;
    padding: 6%;
    box-shadow: 5px 5px 10px 1px rgba(128, 128, 128, 0.377);
    position: relative;
    right: 25%;

  }

  .submit:active {
    background-color: rgba(255, 255, 255, 0.049);
    font-size: 95%;
  }

}



/* .................. */




/* FOR LAPTOPS */



@media(min-width:769px) and (max-width:1440px){
  * {
  padding: 0;
  margin: 0;

}


body {
  display: grid;
  grid-template-columns: 11vw auto;

}

/*    START OF GO BACK SECTION */

.goBack {
  display: flex;
  justify-content: center;
  align-items: center;
}

.goBack button {
  background-color: transparent;
  height: 40px;
  width: 90px;
  border: none;
  font-family: Verdana;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  padding: 6%;
  position: relative;
  box-shadow: 5px 5px 10px 1px rgba(128, 128, 128, 0.377), inset 0px 0px 10px rgba(80, 77, 77, 0.178);
  border-radius: 10%;




}

.goBack button:hover {
  background-color: rgba(133, 125, 125, 0.042);
  border-radius: 50%;
  height: 14%;

}

.goBack button:active {
  background-color: rgba(255, 255, 255, 0.049);
}

.goBack button h5 {
  color: rgba(44, 42, 42, 0.705);
  font-family: 'Roboto';
  margin-top: 07%;
  display: none;
}



/* END OF GO BACK SECTION */





/* CONTAINER */

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;

}

/*   END OF CONTAINER */





/*    ADD IMAGE */


.imageArea {
  height: 30vh;
  width: 20vw;
  border: 3px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(240, 240, 240, 0.363);
  margin-top: 10vh;
  box-shadow: 5px 5px 10px 1px rgba(128, 128, 128, 0.377);
}

.imageBox {
  border: 2px dashed rgb(0, 0, 0);
  width: 20%;
  height: 95%;
  width: 95%;
  border-radius: 10px;
  cursor: pointer;
}


.imageBox label {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


#picture {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  border-radius: 10px;
  background-image: url(../../../icons/UPLOAD.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}





/*   END OF IMAGE AREA  */





/* START OF NAME AREA */


.name input {
  height: 100%;
  width: 90%;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.719);
  background-color: transparent;
  padding-left: 20px;
  font-family: "Changa One";
  color: rgb(0, 0, 0);
  font-size: 25px;
  box-shadow: 5px 5px 10px 1px rgba(128, 128, 128, 0.377);


}

.name input::placeholder {
  padding-left: 25%;
  color: rgb(0, 0, 0);
  font-size: medium;

}



/* END OF NAME AREA */





/*   FOR DESCRIPTION AREA  */

.description textarea {
  width: 35vw;
  height: 20vh;
  resize: none;
  background-color: rgba(255, 255, 255, 0.096);
  border: 1px solid black;
  border-radius: 5px;
  font-family: "Exo 2";
  font-weight: 600;
  font-size: medium;
  padding-left: 20px;
  padding-top: 5px;
  box-shadow: 5px 5px 10px 1px rgba(128, 128, 128, 0.377);
}

.description textarea::placeholder {
  padding-left: 65px;
  color: rgb(0, 0, 0);
  font-size: xx-large;
  font-weight: 500;
  padding-top: 40px;
  padding-left: 100px;
}

/*    END OF DESCRIPTION AREA */






/*  BUTTON */


.buttons {
  display: flex;
  flex-direction: column;


}

.submit {
  background-color: transparent;
  height: 40px;
  width: 90px;
  border: 1px solid black;
  border-radius: 10px;
  font-family: Verdana;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  padding: 6%;
  box-shadow: 5px 5px 10px 1px rgba(128, 128, 128, 0.377);


}

.submit:hover {
  background-color: rgba(0, 0, 0, 0.042);
  font-size: 14px;
}

.submit:active {
  background-color: rgba(255, 255, 255, 0.049);
  font-size: 16px;
}


/*   END OF BUTTON */



  
}


/* .................. */